<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    
    <style>
    «
    .row{
    	margin-left: 10px;
    }
    
    body {
  background-image: url('/	img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
	
</style>

		
</head>

<body >
<nav class="navbar navbar-expand-sm bg-info navbar-black">
  <div class="container-fluid">
    <a class="navbar-brand" >Meteorological App</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/provinces">Provinces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  th:href="@{/showSelectProvince/{id}   (id=${codProv})}">Municipios</a>
        </li>
      </ul>
    </div>
    
    <ul th:if="${authenticated == ''}" class="nav justify-content-end">
	  <li  class="nav-item">
	    <a class="nav-link"  th:href="@{/register}">Register</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/login}">Login</a>
	  </li>
	</ul>
	<ul th:unless="${authenticated == ''}" class="nav justify-content-end">
	  <li  class="nav-item">
	    <a class="nav-link"  >Welcome, ...</a>
	  </li>
	  <li  class="nav-item">
	    <a class="nav-link"  th:href="@{/logout}">Logout</a>
	  </li>
	  
	</ul>
  </div>
</nav>
&nbsp;
	
	<!-- Body -->
	&nbsp;
			<div class="container">
	           <h1 class="display-1" >Weather in "<span th:text="${name_municipio}"> </span>"</h1>
	        </div>
	
		<section class="vh-50" >
			  <div class="container py-5 h-100">
			    <div class="row d-flex justify-content-center align-items-center h-100">
			      <div class="col-md-12 col-xl-10">
			
			        <div class="card shadow-0 border border-dark border-5 text-dark" style="border-radius: 10px;">
			          <div class="card-body p-4">
			
			            <div class="row text-center">
			              <div class="col-md-9 text-center border-end border-5 border-dark py-4"
			                style="margin-top: -1.5rem; margin-bottom: -1.5rem;">
			                <div class="d-flex justify-content-around mt-3">
			                  <p class="small" th:text="${name_municipio}"></p>
			                  <p class="small" th:text="${weather.date}"></p>
			                </div>
			                <div class="d-flex justify-content-around align-items-center py-5 my-4">
			                  <p class="fw-bold mb-0" style="font-size: 7rem;" ><span th:text="${weather.currentTemp}"></span>ºC</p>
			                  <div class="text-start">
			                    <p class="small" id="currentTime"></p>
			                    <p class="h3 mb-3" id="currentDay"></p>
			                    <!--  <p class="small mb-0">Cloudy</p>-->
			                  </div>
			                </div>
			                <div class="d-flex justify-content-around align-items-center mb-3">
			                  <div class="flex-column">
			                    <i class="fas fa-minus"></i>
			                  </div>
			                  <p class="d-inline-flex gap-1">
								  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								    	Show Next Days
								  </a>
								  
								</p>

			                 
			                  
			                 
			                  <div class="flex-column">
			                    <i class="fas fa-minus"></i>
			                  </div>
			                </div>
			              </div>
			              <div class="col-md-3 text-end">
			                <p class="small mt-3 mb-5 pb-5">Rain Previsions</p>
			                <p class="pb-1" th:each="rain:${weather.valuesOfRain}">
			                	<strong th:text="${rain.value}"></strong> %
			                </p>
			               
			              </div>
			            </div>
			
			          </div>
			        </div>
			
			      </div>
			    </div>
			  </div>
			</section>
			
			
			<div class="collapse" id="collapseExample">
				<div  class="container">
				  <div style="background-color:white" class="container">
					  <h2>Temperature for next Days</h2>
					  <div>
					    	<canvas  id="myChart"></canvas>				    	
					  </div>
					</div>
					&nbsp;
					<div style="background-color:white" class="container">
					  <h2>Probability of Raining for next Days</h2>
					  <div>
					    	<canvas id="myChartRain"></canvas>
					  </div>
					</div>
				</div>
			</div>
	
		
	</body>
	
	 <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	
	<script th:inline="javascript">
	
	
	  window.onload = function () {
		  
		  var weather = [[${weather.nextDays}]] ;
		  console.log(weather)
		  var Min = []
		  var Max = []
		  var Rain = []
		  for(var i = 0 ; i < weather.length; i++ ){
			  Max.push(Math.round(weather[i].maxTemp))
			  Min.push(Math.round(weather[i].minTemp))
			  Rain.push(Math.round(weather[i].maxRain))
		  }
		 
		  
		const date = new Date();

	    const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
		const currentDayOfWeek = daysOfWeek[date.getDay()];
		var now = daysOfWeek.indexOf(currentDayOfWeek)
		var days = 0
		var nextDay = ""
		var labels = []
		while(days < 5){
			now++;
			if(now == 7){
				now = 0
				
			}
			nextDay = daysOfWeek[now]
			labels.push(nextDay)
			days++;
		}

			const currentTime = date.toLocaleTimeString();
			document.getElementById("currentDay").innerHTML = currentDayOfWeek;
			document.getElementById("currentTime").innerHTML = currentTime;

			var ctx = document.getElementById("myChart").getContext('2d');
			
			var myChart = new Chart(ctx, {
			  type: 'bar',
			  data: {
			    labels: labels,
			    datasets: [{
			      label: 'Minimum',
			      data: Min,
			      backgroundColor: "red"
			    }, {
			      label: 'Maximum',
			      data: Max,
			      backgroundColor: "blue"
			    }
			    ]
			  }
			});
			
			var ctxRain = document.getElementById("myChartRain").getContext('2d');

			var myChartRain = new Chart(ctxRain, {
				  type: 'bar',
				  data: {
				    labels: labels,
				    datasets: [{
				      label: 'Probality of Raining',
				      data: Rain,
				      backgroundColor: "green"
				    }
				    ]
				  }
				});
		    
	
	  
	  }
	
	
	</script>
</html>